@model PaperTrader.Models.User

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Paper Trader</h1>
    <h4>Your Portfolios</h4>

    @foreach (var portfolio in Model.Portfolios)
    {
        <div>
            <h5>@portfolio.Name</h5>
            <p>Net Gain: +33%</p>
            <p>Balance: $@portfolio.Cash</p>
            <a asp-controller="Portfolio" asp-action="Details" asp-route-id="@portfolio.Id">Go</a>
        </div>
    }
    
    <a asp-controller="Portfolio" asp-action="Create">Add Portfolio</a>
</div>
