@model PaperTrader.Models.User

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Paper Trader</h1>
    <h4>Your Portfolios</h4>

    @foreach (var portfolio in Model.Portfolios)
    {
        <div>
            <h5>@portfolio.Name</h5>
            <p>Net Gain: +33%</p>
            <p>Balance: $@portfolio.Cash</p>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Username)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Model.Username
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>
