@{
    ViewData["Title"] = "App Page";
}

@{
    if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
}

<div class="text-center">
    <h1 class="display-4">Paper Trader</h1>
    <p>To continue, please login or register:</p>
    <div>
        <a asp-controller="User" asp-action="Login" class="btn btn-primary">Login</a>
        <a asp-controller="User" asp-action="Register" class="btn btn-secondary">Register</a>
    </div>
</div>