@model PaperTrader.Models.Portfolio

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Name);
}

<div class="text-center">
    <h1 class="display-4">@Html.DisplayFor(model => model.Name)</h1>

    <div>
        <p>Net Gain: +33%</p>
        <p>Balance: $@Html.DisplayFor(model => model.Cash)</p>
        <p>Created At: @Html.DisplayFor(model => model.CreatedAt)</p>
    </div>
</div>
